<h1>Book a New Seat</h1>

<%= form_with(model: [@bus, @ticket], url: new_bus_ticket_path(@bus)) do |form| %>
  <%= form.label :number %>
  <%= form.text_field :number %>

  <%= form.label :status %>
  <%= form.text_field :status %>

  <%= form.submit 'Book Seat' %>
<% end %>

<%= link_to 'Back to Seats', new_bus_ticket_path(@bus) %>
